<div class="page animated fadeinup">
  <div class="container">
    <div class="row">
      <div class="col s12 m8 offset-m2">
        <%= form_for [category, order], html: {class: "form-inputs"} do |f| %>
          <%= render "shared/error_messages", object: order %>
          <h4>Información general</h4>
          <div class="input-field animated fadeinright">
            <%= f.text_field :client, class: "validate"%>
            <%= f.label :client, "Nombre del cliente" %>
          </div>
          <h4 class="shipping-address">Detalles de la requisición</h4>
          <div class="input-field animated fadeinright">
            <%= f.text_field :project, class: "validate"%>
            <%= f.label :project, "Nombre del proyecto" %>
          </div>
          <div class="input-field animated fadeinright">
            <%= f.text_field :description, class: "validate"%>
            <%= f.label :description, "Descripción del proyecto" %>
          </div>

          <%= button_tag(type: "submit", class: "waves-effect waves-teal btn-flat", data: { disable_with: "Espera..." }) do %>
              <%= @order.new_record? ? "Crear nueva" : "Editar" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div> 