<%= image_tag "wave.png", class: "wave" %>
<div class="box">
    <div class="img">
        <%= image_tag "icono.svg" %>
    </div>
    <div class="login-container">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= image_tag "profile.svg" %>
            <h2>Bienvenido</h2>
            <div class="input-div one">
                <div class="i">
                  <i class="material-icons">person</i>
                </div>
                <div>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                </div>
            </div>
            <div class="input-div two">
                <div class="i">
                  <i class="material-icons">lock</i>
                </div>
                <div>
                    <%= f.password_field :password, autocomplete: "current-password" %>
                </div>
            </div>
            <%= f.submit "Log in", class: "btn" %>
            <a href="#">Olvide la contraseña</a>
            <a href="SignUp.html" class="btn signup">Registrarse</a>
            <%= render "devise/shared/links" %>
        <% end %>
    </div>
</div>
