<div class="page animated fadeinup">
  <div class="container">
    <div class="row">
      <div class="col s12 m8 offset-m2">
        <%= form_for(category), html: {class: "form-inputs"}  do |f| %>
          <%= render "shared/error_messages", object: category %>
          <div class="input-field animated fadeinright">
            <%= f.text_field :amount, class: "validate"%>
            <%= f.label :amount, "Monto a registrar" %>
          </div>

          <%= button_tag(type: "submit", class: "waves-effect waves-teal btn-flat", data: { disable_with: "Espera..." }) do %>
              <%= @category.new_record? ? "Crear nuevo" : "Editar" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div> 
